:root {
  /*colors*/
  --background: #ffffff; /*#333333;/* #d0d1be;*/
  --accents: #222222; /**/
  --highlights: #ff0000;
  --text: #222222;

  /*fonts*/
  --titleFont: "InterDisplay";
  --serifFont: "Lato";
  --fontSize: 2rem;
}

html {
  font-family: var(--serifFont), -system-ui, system-ui, sans-serif;
  font-size: 62.5%;
  color: var(--text);
  background-color: var(--background);
  display: table;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: var(--titleFont), "Raleway", "HelveticaNeue", "Helvetica Neue";
  font-weight: bold;
  margin: auto 0;
}

/*
  fix styling to make resume a bit smaller.
*/

h1 {font-size: 5rem;}
h2 {font-size: 3.4rem;}
h3 {font-size: 2.4rem;}
h4 {font-size: 2rem;}

header {
  padding-bottom: .5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: .125rem solid;
}

body {
  padding: 2rem 1.5rem;
  font-size: var(--fontSize);
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.inline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inline h4 {
  font-style: italic;
}

.links,
section > a > img {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  padding: 0 4rem;
  background-color: var(--background);
  color: var(--accents);
}

nav > ul > li > a {
  color:var(--accents);
  font-weight: bold;
  text-decoration: none;
}

nav > ul > li {
  margin: auto;
  font-size: 3rem;
  padding: .5rem;
  display: inline-block;
}


div.resume {
  background-color: #eeeeee;
  padding: 2.5rem;

}

.resume h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.resume *{
  margin: .55rem 0;
}