:root {
  /*colors*/
  --background: #ffffff; /*#333333;/* #d0d1be;*/
  --accents: #222222; /**/
  --highlights: #ff0000;
  --text: #000000;

  /*fonts*/
  --titleFont: "InterDisplay";
  --serifFont: "Source Serif Pro";
  --fontSize: 2rem;
}

html {
  font-family: var(--serifFont), -system-ui, system-ui, sans-serif;
  font-size: 62.5%;
  color: var(--text);
  background-color: var(--background);
  display: table;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: var(--titleFont), "Raleway", "HelveticaNeue", "Helvetica Neue";
  font-weight: bold;
  margin: 0;
}

/*
  fix styling to make resume a bit smaller.
*/

h1 {
  font-size: 5rem;
  margin-top: 1rem !important;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}

body {
  font-size: var(--fontSize);
  width: 100%;
  max-width: 1000px;
}

.inline * {
  display: inline-block;
  margin: 0;
}

.links,
section > a > i {
  font-size: 4rem;
  padding: 0 2rem;
  background-color: var(--background);
  color: var(--accents);
}

nav > ul {
  background-color: var(--accents);
}

nav > ul > li > a {
  background-color: var(--accents);
  color: var(--background);
  font-weight: bold;
  text-decoration: none;
}

nav > ul > li {
  background-color: var(--accents);
  font-size: 3rem;
  padding: .5rem;
  display: inline-block;
}

nav > ul > li > a:hover {
  color: var(--highlights);
}

section > a > i:hover {
  color: var(--highlights);
}

p.date,
p.location {
  float: right;
}

.inline h4 {
  font-style: italic;
}

section.resume {
  background-color: #eeeeee;
  padding: 2.5rem;

}

.resume *{
  margin: 0.25rem;

}
